.loading-screen {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;

  .instagram-logo {
    position: relative;
    width: 80px;
    top: 450px;
  }

  .from-meta {
    position: absolute;
    width: 72px;
    bottom: 36px;
  }
}
