@import "./variables.scss";
@import "./components.scss";

.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}

.mt-6 {
  margin-top: 6px;
}
.mt-28 {
  margin-top: 28px !important;
}

.mr-4 {
  margin-right: 4px;
}
.mr-16 {
  margin-right: 16px;
}
.mr-28 {
  margin-right: 28px !important;
}

.my-14 {
  margin-left: 14px !important;
  margin-right: 14px !important;
}

@media screen and (max-width: 1000px) {
  .mobile-view-none {
    display: none;
  }
  .mobile-full {
    width: 100%;
  }
  .mobile-mt-0 {
    margin-top: 0 !important;
  }
  .mobile-mr-auto {
    margin-right: auto !important;
  }
}
.mobile-view-none {
}
