.home-suggestion-container {
  margin-top: 22px;
  width: 100%;
  //   background-color: rebeccapurple;

  .home-suggestion-my-profile {
    width: 100%;
    background-color: cadetblue;
    display: flex;
    align-items: center;
  }
}
